.home{
    height: 90vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
        font-style: italic;
}
span{
    color: white;
    font-family: cursive;
    padding-left: 8px;
}
span:hover{
    color: tomato;
    font-size: 35px;
    transition: 1s;
    font-weight: 200;
}